.game {
    height: 400px;
    width: 800px;
    border-bottom: 1px solid black;
    margin: auto;
}
#dino{
    height: 100px;
    width: 100px;
    background-image: url(Mario.gif);
    background-size: 100px 100px;
    position: relative;
    border-radius: 70%;
    top: 300px;
}

#cactus {
    height: 100px;
    width: 100px;
    background-image: url(Cactus.png);
    background-size: 100px 100px;
    position: relative;
    border-radius: 70%;
    top: 180px; 
    left: 700px;
    animation: cactusMove 2s infinite linear;
}

.jump {
    animation: jump 1s linear ;
}

@keyframes cactusMove {
    0% {
        left: 700px;
    }
    100% {
        left: -100px;
    }
}

@keyframes jump {
    0% {
        top: 300px;
    }
    25% {
        top: 150px;
    }
    50% {
        top: 0px ;
    }
    75% {
        top: 150px;
    }
 
    100% {
        top: 300px;
    }
}